.u-section-1 .u-sheet-1 {min-height: 716px}
.u-section-1 .u-shape-1 {width: 807px; height: 522px; background-image: none; margin: 90px auto 0 35px}
.u-section-1 .u-shape-2 {width: 478px; height: 601px; margin: -497px 0 0 auto}
.u-section-1 .u-image-1 {width: 430px; height: 490px; object-position: 50% 50%; background-position: 50% 50%; margin: -545px 77px 0 auto}
.u-section-1 .u-group-1 {width: 547px; min-height: 495px; margin: -556px auto 60px 52px}
.u-section-1 .u-container-layout-1 {padding-left: 20px}
.u-section-1 .u-text-1 {font-weight: 800; font-size: 3.75rem; line-height: 66px; margin: 50px 20px 0 0}
.u-section-1 .u-btn-1 {margin: 35px auto 0 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 719px}
.u-section-1 .u-shape-1 {position: relative}
.u-section-1 .u-shape-2 {width: 423px; height: 588px; margin-top: -484px}
.u-section-1 .u-image-1 {width: 436px; object-position: 0% 50%; background-position: 0% 50%; margin-top: -570px; margin-right: 35px}
.u-section-1 .u-group-1 {margin-top: -616px}
.u-section-1 .u-container-layout-1 {padding-left: 16px}
.u-section-1 .u-text-1 {width: auto; margin-top: 102px; margin-right: 66px}
.u-section-1 .u-btn-1 {margin-top: 15px; margin-bottom: -64px; margin-left: 21px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 969px}
.u-section-1 .u-shape-1 {width: 720px; margin-left: 0}
.u-section-1 .u-shape-2 {width: 396px; height: 527px; margin-top: -224px}
.u-section-1 .u-image-1 {width: 371px; height: 413px; object-position: 14.35% 0%; background-position: 14.35% 0%; margin-top: -439px; margin-right: 54px}
.u-section-1 .u-group-1 {margin-top: -785px}
.u-section-1 .u-container-layout-1 {padding-left: 13px}
.u-section-1 .u-text-1 {font-weight: 700; margin-top: 12px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 937px}
.u-section-1 .u-shape-1 {width: 540px}
.u-section-1 .u-shape-2 {height: 431px; margin-top: -177px}
.u-section-1 .u-image-1 {height: 415px; margin-top: -353px; margin-right: 13px}
.u-section-1 .u-group-1 {width: 540px; margin-top: -873px; margin-left: -9px}
.u-section-1 .u-container-layout-1 {padding-left: 9px}
.u-section-1 .u-text-1 {font-size: 3rem; font-weight: 800; margin-top: 32px; margin-right: 0; margin-left: 9px}
.u-section-1 .u-btn-1 {margin: -57px 170px 0 auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 908px}
.u-section-1 .u-shape-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-shape-2 {height: 402px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {height: 380px; margin-top: -326px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-group-1 {margin-top: -437px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 6px}
.u-section-1 .u-text-1 {font-size: 2.25rem; line-height: 1.4; margin-top: -333px; margin-right: 9px; margin-left: 3px}
.u-section-1 .u-btn-1 {margin-top: 0; margin-right: 20px} }.u-section-2 .u-sheet-1 {min-height: 775px}
.u-section-2 .u-group-1 {width: 980px; min-height: 149px; margin: 30px auto 0}
.u-section-2 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-2 .u-text-1 {font-size: 2.25rem; margin: 0 20px}
.u-section-2 .u-layout-wrap-1 {margin: 47px auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 566px}
.u-section-2 .u-image-1 {width: 313px; height: 235px; margin: 33px 20px 0 auto}
.u-section-2 .u-shape-1 {height: 326px; margin: -268px auto 0 0}
.u-section-2 .u-group-2 {width: 236px; min-height: 56px; margin: -99px 0 0 auto}
.u-section-2 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-2 {font-style: italic; font-weight: 400; font-size: 1.25rem; margin: 5px 0}
.u-section-2 .u-text-3 {font-style: italic; margin: 70px 20px 0}
.u-section-2 .u-layout-cell-2 {min-height: 566px}
.u-section-2 .u-image-2 {width: 313px; height: 276px; object-position: 28.06% 50%; background-position: 28.06% 50%; margin: 20px auto 0}
.u-section-2 .u-shape-2 {height: 326px; margin: -296px auto 0 0}
.u-section-2 .u-group-3 {width: 236px; min-height: 77px; margin: -99px 0 0 auto}
.u-section-2 .u-container-layout-5 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-4 {font-style: italic; font-weight: 400; font-size: 1.25rem; margin: 0}
.u-section-2 .u-text-5 {font-style: italic; margin: 70px 20px 0}
.u-section-2 .u-layout-cell-3 {min-height: 566px}
.u-section-2 .u-image-3 {width: 313px; height: 276px; object-position: 50% 10.04%; background-position: 50% 10.04%; margin: 20px auto 0}
.u-section-2 .u-shape-3 {height: 326px; margin: -296px auto 0 0}
.u-section-2 .u-group-4 {width: 236px; min-height: 79px; margin: -99px 0 0 auto}
.u-section-2 .u-container-layout-7 {padding-left: 20px; padding-right: 20px}
.u-section-2 .u-text-6 {font-style: italic; font-weight: 400; font-size: 1.25rem; margin: 0}
.u-section-2 .u-text-7 {font-style: italic; margin: 70px 20px 0} 

@media (max-width: 1199px){ .u-section-2 .u-group-1 {width: 834px}
.u-section-2 .u-text-1 {position: relative; font-size: 1.875rem; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {width: 293px; height: 220px; position: relative; margin-right: 0}
.u-section-2 .u-shape-1 {position: relative; margin-top: -253px; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-2 {min-height: 99px}
.u-section-2 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-2 {position: relative; margin-top: 0; margin-bottom: 0}
.u-section-2 .u-text-3 {position: relative; margin-top: 53px; margin-left: 0; margin-right: 0}
.u-section-2 .u-image-2 {width: 258px; height: 286px; position: relative}
.u-section-2 .u-shape-2 {position: relative; margin-top: -306px; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-3 {width: 202px; min-height: 96px}
.u-section-2 .u-container-layout-5 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-4 {position: relative}
.u-section-2 .u-text-5 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-image-3 {width: 258px; height: 286px; position: relative}
.u-section-2 .u-shape-3 {position: relative; margin-top: -306px; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-4 {width: 217px; min-height: 96px}
.u-section-2 .u-container-layout-7 {padding-left: 16px; padding-right: 16px}
.u-section-2 .u-text-6 {position: relative}
.u-section-2 .u-text-7 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-2 .u-group-1 {width: 548px; position: relative}
.u-section-2 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {width: 220px; height: 165px}
.u-section-2 .u-shape-1 {margin-top: -198px; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-2 {margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-image-2 {height: 275px; object-position: 41.69% 50%; background-position: 41.69% 50%; margin-top: 0; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-shape-2 {margin-top: -275px; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-3 {min-height: 99px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-container-layout-5 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-text-5 {margin-top: 43px; margin-left: 13px; margin-right: 13px}
.u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-image-3 {margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-group-4 {min-height: 99px; margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-container-layout-7 {padding-left: 13px; padding-right: 13px}
.u-section-2 .u-text-7 {margin-top: 47px; margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1681px}
.u-section-2 .u-group-1 {width: 514px}
.u-section-2 .u-text-1 {margin-top: -24px; margin-left: 9px; margin-right: 9px}
.u-section-2 .u-layout-wrap-1 {width: 398px; margin: 40px auto 60px 71px}
.u-section-2 .u-image-1 {width: 378px; height: 275px; margin-top: 13px; margin-right: auto}
.u-section-2 .u-shape-1 {margin-top: -288px; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-2 {position: relative; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-group-3 {position: relative; width: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-5 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-text-5 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-container-layout-7 {padding-left: 9px; padding-right: 9px}
.u-section-2 .u-text-7 {margin-top: 27px; margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1772px}
.u-section-2 .u-group-1 {width: 340px; min-height: 154px}
.u-section-2 .u-text-1 {margin-top: -28px; margin-left: 20px; margin-right: 20px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-1 {width: 320px; height: 240px; margin-top: 0}
.u-section-2 .u-shape-1 {margin-top: -240px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-container-layout-5 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-text-5 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-container-layout-7 {padding-left: 6px; padding-right: 6px}
.u-section-2 .u-text-7 {margin: 20px 6px -34px} }.u-section-3 {margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 530px}
.u-section-3 .u-layout-wrap-1 {margin: -23px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 148px}
.u-section-3 .u-container-layout-1 {padding-left: 0; padding-right: 0}
.u-section-3 .u-text-1 {margin: 0 20px}
.u-section-3 .u-layout-cell-2 {min-height: 328px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-text-2 {margin: 25px auto 0}
.u-section-3 .u-text-3 {font-size: 1.5rem; line-height: 38px; margin: 15px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 328px}
.u-section-3 .u-container-layout-3 {padding-left: 20px}
.u-section-3 .u-text-4 {margin: 25px 11px 0 auto}
.u-section-3 .u-text-5 {font-size: 1.5rem; margin: 11px 6px 0}
.u-section-3 .u-line-1 {width: 252px; position: relative; transform-origin: left center 0; margin: 24px 149px 0 auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 606px}
.u-section-3 .u-layout-wrap-1 {position: relative; margin-bottom: 50px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 149px}
.u-section-3 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-3 .u-text-1 {margin-left: 16px; margin-right: 16px}
.u-section-3 .u-layout-cell-2 {min-height: 399px}
.u-section-3 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-3 .u-text-3 {position: relative}
.u-section-3 .u-layout-cell-3 {min-height: 399px}
.u-section-3 .u-container-layout-3 {padding-left: 16px}
.u-section-3 .u-text-4 {width: auto; margin-right: auto; margin-left: -8px}
.u-section-3 .u-text-5 {position: relative; margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 317px}
.u-section-3 .u-layout-wrap-1 {margin-top: -26px; margin-bottom: 40px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-3 .u-text-1 {position: relative; margin-left: 13px; margin-right: 13px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 32px; padding-right: 32px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-container-layout-3 {padding-left: 13px}
.u-section-3 .u-text-4 {margin-right: 36px; margin-left: 25px}
.u-section-3 .u-text-5 {width: auto; margin-top: 15px; margin-right: 6px; margin-left: -5px}
.u-section-3 .u-line-1 {margin-top: 20px; margin-right: auto; margin-left: 0} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 534px}
.u-section-3 .u-layout-wrap-1 {margin-top: -65px; margin-bottom: 48px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-3 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-container-layout-2 {padding-left: 23px; padding-right: 23px}
.u-section-3 .u-container-layout-3 {padding-left: 5px; padding-right: 5px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 538px}
.u-section-3 .u-layout-wrap-1 {margin-top: -67px; margin-bottom: 43px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-3 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-3 .u-container-layout-2 {padding-left: 15px; padding-right: 15px}
.u-section-3 .u-container-layout-3 {padding-left: 1px; padding-right: 1px}
.u-section-3 .u-text-4 {margin-right: 0; margin-left: 0}
.u-section-3 .u-text-5 {margin-left: 0; margin-right: 0} }.u-section-4 {background-image: linear-gradient(0deg, rgba(165,30,30,0.4), rgba(165,30,30,0.4)), url("images/6d5e212646ca1e726ade89d5aa6210aa.jpeg"); margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 630px; position: relative}
.u-section-4 .u-shape-1 {width: 628px; height: 306px; margin: 83px auto 0 249px}
.u-section-4 .u-group-1 {width: 570px; min-height: 268px; margin: -287px auto 65px 278px}
.u-section-4 .u-container-layout-1 {padding-left: 45px; padding-right: 53px}
.u-section-4 .u-text-1 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-4 {background-position: 50% 4.59216vh}
.u-section-4 .u-sheet-1 {margin: 0 auto}
.u-section-4 .u-shape-1 {width: 602px; position: relative; margin-top: 166px; margin-left: 163px}
.u-section-4 .u-group-1 {width: 554px; position: relative; margin-bottom: 177px; margin-left: 187px}
.u-section-4 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-4 .u-text-1 {margin-top: 23px} }

@media (max-width: 991px){ .u-section-4 .u-shape-1 {width: 388px; margin-left: 166px}
.u-section-4 .u-group-1 {width: 360px; margin-left: 176px}
.u-section-4 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-4 .u-text-1 {margin-top: 28px} }

@media (max-width: 767px){ .u-section-4 .u-shape-1 {width: 436px; margin-left: auto}
.u-section-4 .u-group-1 {width: 398px; margin-left: auto}
.u-section-4 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-text-1 {margin-top: 18px} }

@media (max-width: 575px){ .u-section-4 .u-shape-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-4 .u-group-1 {width: 304px}
.u-section-4 .u-container-layout-1 {padding-left: 6px; padding-right: 6px} }